<div class="command-button">
    <span class=@($"fi fi-rr-{Icon}") title=@Name />
</div>

@code {
    [Parameter, EditorRequired]
    public string Name { get; set; } = null!;

    [Parameter, EditorRequired]
    public string Icon { get; set; } = null!;

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;
}