@inherits ModelAwareComponentBase<ActivityBarState>

<nav class="activity-bar">
    <CascadingValue TValue="ActivityBar" Value="this">
        @ChildContent
    </CascadingValue>
</nav>

@if (Model.ActiveActivity is {} activity) {
    <div class="activity-content resizable">
        @activity.ChildContent
        
        <div class="splitter" />
    </div>
}

@code {

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

}
