@inherits ModelAwareComponentBase<ActivityBarState>

<nav class="activity-bar">
    <CascadingValue TValue="ActivityBar" Value="this">
        @ChildContent
    </CascadingValue>
</nav>

@code {

    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; } = null!;

}
