*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

.page {
    display: flex;
    width: 100%;
    overflow: hidden;

    &-body {
        background-color: var(--background-darker);
        color: var(--foreground-light);    
        flex: auto;
    }
}