@using FsiCAD.Components.ActivityBar
@using FsiCAD.Components.Explorer;

@inherits LayoutComponentBase

<div class="page">
    
    <nav class="page-navigation">
        <ActivityBar>
            <Activity Name="Explorer"
                      Icon="copy-alt">
                <Explorer />
            </Activity>
            
            <Activity Name="Search"
                      Icon="search">
                <span>Search interface here</span>
            </Activity>
            
            <Activity Name="Console"
                      Icon="list-dropdown">
                <span>Console interface here</span>
            </Activity>
        </ActivityBar>
    </nav>

    <main class="page-body">
        @Body
    </main>
</div>
